{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class=”error” style="color:red;">Неверное имя или пароль</p>
    {% endif %}

<table border="1">
<tr>
  <td>
    <b>login</b>
    <form action='' method='post'>
        {% csrf_token %}
        <table border="1">
          <tr>
            <td>
              <label for="username">Имя пользователя:</label>
            </td>
            <td>
              <input type="text" name="username" id="username">
            </td>
          </tr>

          <tr>
            <td>
              <label for="password">Пароль: </label>
            </td>
            <td>
              <input type="password" name="password" id="password">
            </td>
          </tr>

          <tr>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
          </tr>
          </table>
    </form>
  </td>

  <td>
    <b>registration</b>
    <form action='/accounts/reg/' method='post'>
        {% csrf_token %}

        {% if form.errors %}
        <p style=”color: red;”>Исправьте следующие ошибки: {{ form.errors|pluralize }} </p>
        {% endif %}
        <table border="1">
          <tr>
            <td>
              <label for="password">Почта (login): </label>
            </td>
            <td>
              <input type="email" name="username" id="username">
            </td>
          </tr>

          <tr>
            <td>
              <label for="password">Пароль: </label>
            </td>
            <td>
              <input type="password" name="password" id="password">
            </td>
          </tr>

            <input type="submit" value="Register" />
            <input type="hidden" name="next" value="{{ next|escape }}" />

        </table>
    </form>
  </td>
</tr>
</table>
{% endblock %}
