{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class=”error” style="color:red;">Неверное имя или пароль</p>
    {% endif %}


    <form action='' method='post'>
        {% csrf_token %}
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" id="username">
        <label for="password">Пароль: </label>
        <input type="password" name="password" id="password">
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
    <br><br><br><hr>

    <form action='/accounts/reg/' method='post'>
        {% csrf_token %}
        
        {% if form.errors %}
        <p style=”color: red;”>Исправьте следующие ошибки: {{ form.errors|pluralize }}
        </p>
        {% endif %}

        <label for="password">Почта (login): </label>
        <input type="email" name="username" id="username">
        <label for="password">Пароль: </label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>


{% endblock %}

